@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  color: inherit;
}

img {
  max-width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: aquamarine;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #440a29;
}

header .logo img {
  width: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
}

@media screen and (min-width: 768px) {
  header .menu {
    width: auto;
  }
}

header .menu-btn {
  width: 25px;
}

header .close {
  width: 20px;
}

header input[type="checkbox"] {
  display: none;
}

header input[type="checkbox"]:checked ~ label .menu-btn {
  display: none;
}

header input[type="checkbox"]:not(:checked) ~ label .close {
  display: none;
}

header input[type="checkbox"]:checked ~ nav ul {
  height: 152px;
  width: 100%;
  color: #7D7987;
}

@media screen and (min-width: 768px) {
  header .menu-btn, header .close {
    display: none;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 70px;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: white;
  z-index: 999;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

@media screen and (min-width: 768px) {
  header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: initial;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}

header nav ul li {
  border-bottom: 1px solid #7D7987;
}

header nav ul li:hover {
  color: #440a29;
}

@media screen and (min-width: 768px) {
  header nav ul li {
    border: none;
    color: grey;
  }
}

header nav ul li a {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.none {
  display: none;
}

main h1 {
  padding: 35px 5px 25px;
  font-size: 40px;
  text-align: center;
  color: #440a29;
}

main .login-form {
  width: 80%;
  margin: 0 auto;
}

main .login-form a {
  color: #72b1c5;
  color: #00669F;
}

main .lb-inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
}

main .lb-inp label {
  padding-bottom: 5px;
}

main .lb-inp input {
  border-radius: 5px;
  border: 1px solid #d9d6d6;
  height: 40px;
  padding: 2px 10px;
  font-size: 12px;
  background-color: #f9f8f8;
  outline: none;
}

main input[type="submit"] {
  width: 100%;
  height: 40px;
  margin: 18px 0 5px;
  font-weight: bold;
  color: #440a29;
  background-color: #72b1c5;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

main .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 20px;
}

main .pen {
  width: 80px;
  padding: 15px;
}

main .search-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .search-container input[type="text"] {
  border-radius: 5px;
  border: 1px solid #d9d6d6;
  height: 40px;
  padding: 2px 10px;
  font-size: 12px;
  width: 65%;
  max-width: 350px;
  background-color: #f9f8f8;
  outline: none;
}

main .search-container input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f9f8f8 inset;
}

main .search-container button {
  width: 55px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #72b1c5;
  outline: none;
  cursor: pointer;
}

main .search-container .search-img {
  width: 30px;
}

main #words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212529;
}

@media screen and (min-width: 768px) {
  main #words {
    width: 70%;
    max-width: 650px;
    margin: 40px auto 40px;
    /* background: #e9f8f5; */
  }
}

main #words > li {
  width: 95%;
  margin: 20px 0 5px;
  padding: 15px 10px 10px;
  /* background-color: #dbe5f0; */
  /* border-bottom: 1px solid #cdcdcd; */
}

main #words .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0 0 15px 0;
  font-size: 24px;
}

main #words .word span {
  font-weight: 400;
}

main #words .word img {
  width: 40px;
}

main #words .word button {
  padding: 7px;
  border: 2px solid #440a29;
  border-radius: 5px;
  font-weight: bold;
  color: #440a29;
  cursor: pointer;
}

main #words .word button:hover {
  background-color: #e3a4d0;
  background-color: #ef8bbd;
}

main #words audio {
  width: 100%;
  max-width: 290px;
}

main #words .part-of-speech {
  padding: 10px 0;
}

main #words .definition-list {
  padding-left: 5px;
}

main #words .definition-list li {
  padding: 8px 8px 30px 12px;
  border-bottom: 1px solid #cdcdcd;
  /* &:hover{
                    background-color: rgb(228, 244, 245);
                } */
}

main #words .definition {
  font-size: 17px;
  font-weight: bold;
}

main #words .example {
  padding: 10px 0;
  font-style: italic;
  color: #8c8c8c;
}

main #words .synonyms {
  padding: 5px 0;
  font-size: 14px;
}

main #words .synonyms span {
  font-size: 15px;
  -webkit-text-decoration: underline 1.3px;
          text-decoration: underline 1.3px;
}

main .not-found {
  padding: 40px 0 30px;
  text-align: center;
}

main .not-found p {
  padding: 10px 60px 0;
}

main .none {
  display: none;
}

main .practice-btn-container {
  position: absolute;
  top: 165px;
  right: calc(50% - 33px);
}

@media screen and (min-width: 480px) {
  main .practice-btn-container {
    top: 85px;
    right: 15px;
  }
}

main .practice-btn {
  width: 66px;
  padding: 6px;
  background-color: #ef8bbd;
  border: 1.5px solid #440a29;
  border-radius: 5px;
  color: #440a29;
  font-weight: 600;
  cursor: pointer;
}

main #wordsList {
  width: 95%;
  margin: 30px auto;
}

main #wordsList .table-header {
  border-top: 1px solid #a1a0a0;
}

main #wordsList .t-header {
  color: black;
  font-style: normal;
  font-weight: bold;
}

main #wordsList .t-header .fa-sort {
  cursor: pointer;
}

main .t-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
  border-bottom: 1px solid #a1a0a0;
  /* &:hover {
            background: rgba(0,0,0,0.05);
        } */
}

main .t-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  width: calc(100% - 145px);
  min-width: 124px;
}

@media screen and (min-width: 480px) {
  main .t-word {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  main .t-word {
    width: 20%;
  }
}

main .t-word .fa-play-circle {
  cursor: pointer;
}

main .t-def {
  display: none;
}

@media screen and (min-width: 480px) {
  main .t-def {
    display: block;
    width: calc(75% - 145px);
  }
}

@media screen and (min-width: 768px) {
  main .t-def {
    width: calc((80% - 145px)/2);
  }
}

main .t-example {
  display: none;
  width: 0%;
  font-style: italic;
  color: #8c8c8c;
}

@media screen and (min-width: 768px) {
  main .t-example {
    display: block;
    width: calc((80% - 145px)/2);
  }
}

main .t-audio {
  display: none;
  width: 0%;
}

main .t-level {
  width: 75px;
}

main .t-level meter {
  width: 100%;
}

main .t-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  width: 70px;
}

main .t-edit .far {
  color: #a5a1a1;
  cursor: pointer;
}

main .t-edit .far:hover {
  color: black;
}

main .t-element {
  padding: 5px;
  overflow: hidden;
}

main #closeCards {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  padding: 5px;
  background-color: #abc3ca;
  cursor: pointer;
}

main #closeCards:hover {
  background-color: #72b1c5;
}

main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

main .scene {
  width: 200px;
  height: 260px;
  -webkit-perspective: 600px;
          perspective: 600px;
}

main .card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /* pointer-events: none; */
}

main .card h4 {
  padding-bottom: 15px;
}

main .card a {
  position: relative;
  z-index: 1;
  padding: 3px;
  cursor: pointer;
}

main .card .disabled {
  pointer-events: none;
}

main .card .audio-container {
  padding-bottom: 15px;
}

main .card .btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 30px);
}

main .card i {
  position: relative;
  z-index: 1;
  padding: 3px;
  font-size: 22px;
  cursor: pointer;
}

main .cover-front {
  position: absolute;
  height: 100%;
  width: 100%;
}

main .card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* pointer-events: auto; */
}

main .card-front-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main .cover-back {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

main .card__face--back {
  padding: 15px;
  -webkit-transform: rotateY(180deg) translateZ(1px);
          transform: rotateY(180deg) translateZ(1px);
}

main .card.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

main .card-back-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 205px;
}

main .c-definition {
  font-weight: bold;
}

main .c-example {
  padding-top: 10px;
  font-style: italic;
  color: #8c8c8c;
}
/*# sourceMappingURL=styles.css.map */