main{
    .practice-btn-container{
        position: absolute;
        top: 165px;
        right: calc(50% - 33px);
        @media screen and (min-width: 480px) {
            top: 85px;
            right: 15px;
        }
    }
    .practice-btn{
        width: 66px;
        padding: 6px;
        background-color: #ef8bbd;
        border: 1.5px solid #440a29;
        border-radius: 5px;
        color: #440a29;
        font-weight: 600;
        cursor: pointer;
    }
    #wordsList{
        width: 95%;
        margin: 30px auto;
        .table-header{
            border-top: 1px solid #a1a0a0;
        }
        .t-header{
            color: black;
            font-style: normal;
            font-weight: bold;
            .fa-sort{
                cursor: pointer;
            }
        }
    }
    .t-header{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .row{
        display: flex;
        gap: 1px;
        border-bottom: 1px solid rgb(161, 160, 160);
        /* &:hover {
            background: rgba(0,0,0,0.05);
        } */
    }
    .t-word{
        display: flex;
        gap: 5px;
        width: calc(100% - 145px);
        min-width: 124px;
        @media screen and (min-width: 480px) {
            width: 25%;
        }
        @media screen and (min-width: 768px) {
            width: 20%;
        }
        .fa-play-circle{
            cursor: pointer;
        }
    }
    .t-def{
        display: none;
        @media screen and (min-width: 480px) {
            display: block;
            width: calc(75% - 145px);
        }
        @media screen and (min-width: 768px) {
            width: calc((80% - 145px)/2);
        }
    }
    .t-example{
        display: none;
        width: 0%;
        font-style: italic;
        color: #8c8c8c;
        @media screen and (min-width: 768px) {
            display: block;
            width: calc((80% - 145px)/2);
        }
    }
    .t-audio{
        display: none;
        width: 0%;
    }
    .t-level{
        width: 75px;
        meter{
            width: 100%;
        }
    }
    .t-edit{
        display: flex;
        justify-content: center;
        gap: 5px;
        width: 70px;
        .far{
            color: rgb(165, 161, 161);
            cursor: pointer;
            &:hover{
                color: black;
            }
        }
    }
    .t-element{
        padding: 5px;
        overflow: hidden;
    }
    #closeCards{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 30px;
        padding: 5px;
        background-color: #abc3ca;
        cursor: pointer;
        &:hover{
            background-color: #72b1c5;
        }
    }
    .cards{
        display: flex;
        justify-content: center;align-items: center;
        height: 100vh;
    }
    .scene {
        width: 200px;
        height: 260px;
        perspective: 600px;
    }
    .card {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 15px;
        box-shadow: 0 4px 8px 1px rgba(0,0,0,0.2);
        transition: transform 1s;
        transform-style: preserve-3d;
        /* pointer-events: none; */
        h4{
            padding-bottom: 15px;
        }
        a{
            position: relative;
            z-index: 1;
            padding: 3px;
            cursor: pointer;
        }
        .disabled{
            pointer-events: none;
        }
        .audio-container{
            padding-bottom: 15px;
        }
        .btns-container{
            display: flex;
            position: absolute;
            bottom: 15px;
            justify-content: space-between;
            width: calc(100% - 30px);
        }
        i{
            position: relative;
            z-index: 1;
            padding: 3px;
            font-size: 22px;
            cursor: pointer;
        }
    }
    .cover-front{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .card__face {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        /* pointer-events: auto; */
    }
    .card-front-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .cover-back{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .card__face--back {
        padding: 15px;
        transform: rotateY( 180deg) translateZ(1px);
    }
    .card.is-flipped {
        transform: rotateY(180deg);
    }
    .card-back-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 205px;
    }
    .c-definition{
        font-weight: bold;
    }
    .c-example{
        padding-top: 10px;
        font-style: italic;
        color: #8c8c8c;
    }
}